HTML {
    margin: 0;
    font-size: 10px;
  }
  
  header {
    display: flex;
    border-bottom: .1rem solid lightblue
  }
  
  h1 {
    width: 20%;
    font-size: 2.4rem;
  }
  
  #main-navbar {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    font-size: 2.4rem;
  }
  
  .nav-list {
    display: flex;
  }
  
  .nav-list-item {
    list-style: none;
    padding: 8px;
  }
  
  a {
    text-decoration: none;
    color: #1E5162;
  }
  
  .pI-label {
    width: 20%;
  }
  main {
    display: flex;
    justify-content: center;
    padding: 6.4rem;
  }
  form {
    width: 60%;
    border: .1rem solid black;
    padding: 3.2rem;
    border-radius: .2rem;
  }
  fieldset {
    padding: 2.4rem;
    font-size: 1.6rem;
    border-radius: .8rem;
  }
  
  legend {
    font-size: 2.4rem;
  }
  
  input[type = text] {
    width: 90%;
    padding: .8rem;
    margin-top: .4rem;
    border: .1rem solid grey;
    border-radius: .4rem;
  }
  
  input[type=text]:focus {
    background-color: lightblue;
  }
  
  input[type = submit] {
    border: .1rem solid grey;
    border-radius: .2rem;
    padding: 1.6rem;
    margin: .8rem;
    background-color: lightblue;
  }
  
    input[type = submit]:hover {
      background-color: lightgrey;
    }